<div>

  <div>
    <h1>Cats or Dogs ?</h1>
    <p>Implémentation d'algorithmes de 'Deep Learning' (MobileNet et ResNet50) pour la classification d'images.</p>
  </div>

  <div>
    <img [src]="randomImageNumber">
  </div>

  <div>
    <select class="custom-select" id="choose_model">
      <option selected>Selectionner un modèle</option>
      <option value="mobilenet">mobilenet</option>
      <option value="resnet50">resnet50</option>
    </select>
  </div>

  <div>
    <button class="btn" id="predict_btn">Predict</button>
    <label for="select-file-image" class="btn" id="load_your_image">
      Upload
    </label>
    <input id="select-file-image" type="file" style="display: none;">
    <button class="btn" id="load_test_image" (click)="randomPic()">Image aléatoire</button>
  </div>

  <div>
    <button class="btn btn-predict" (click)="predictPet()">Guess pet</button>
    <div>
      <p>Résultat :</p>
      <ul>
        <li>Chien : {{ dog }}%</li>
        <li>Chat : {{ cat }}%</li>
      </ul>
    </div>
    <h3>{{ pet }}</h3>
  </div>

</div>
