<div class="container">
  <div>
    <p>Select an image:</p>
    <div class="row col-sm-12">
      <div class="col-sm-4">
        image<img src="">
      </div>
      <div class="col-sm-4">
        image<img src="">
      </div>
      <div class="col-sm-4">
        image<img src="">
      </div>
      <div class="col-sm-4">
        image<img src="">
      </div>
      <div class="col-sm-4">
        image<img src="">
      </div>
      <div class="col-sm-4">
        image<img src="">
      </div>
    </div>
    <button type="button" class="btn">Upload</button>
    <button type="button" class="btn">Load more</button>
  </div>
</div>
