<div class="container">
  <div id="blockNav">
    <h1 routerLink="/home">TP Angular</h1>

    <div>
      <p *ngIf="isAuth">Connecté : {{emailAuth}}</p>
      <p>Menu :</p>
      <div>
        <button class="btn btn-default navbar-btn nav_button" routerLinkActive="active" *ngIf="!isAuth">
          <a routerLink="auth/signup">Créer un compte</a>
        </button>
        <button class="btn btn-default navbar-btn nav_button" routerLinkActive="active" *ngIf="!isAuth">
          <a routerLink="auth/login">Connexion</a>
        </button>
        <button class="btn btn-default navbar-btn nav_button" *ngIf="isAuth">
          <a (click)="onSignOut()">Déconnexion</a>
        </button>
        <button type="button" class="btn btn-default navbar-btn nav_button" (click)="mnistIncrement()" routerLink="/mnist">Mnist</button>
        <button type="button" class="btn btn-default navbar-btn nav_button" (click)="dogVsCatsIncrement()" routerLink="/dogs_cats" >Chat et chien</button>
        <button type="button" class="btn btn-default navbar-btn nav_button" routerLink="/method_graph">Statistiques</button>
      </div>
    </div>

    <div>
      Contact :
      <a href="https://github.com/A1c0/Angular-data-analyser">github</a>
    </div>
  </div>
</div>
