<div class="container">
  <div class="row col-sm-12 images">
    <div class="col-sm-4 caseImg">
      <img src="../../../../mnist/0.jpg">
    </div>
    <div class="col-sm-4 caseImg">
      <img src="../../../../mnist/1.jpg">
    </div>
    <div class="col-sm-4 caseImg">
      <img src="../../../../mnist/2.jpg">
    </div>
    <div class="col-sm-4 caseImg">
      <img src="../../../../mnist/3.jpg">
    </div>
    <div class="col-sm-4 caseImg">
      <img src="../../../../mnist/4.jpg">
    </div>
    <div class="col-sm-4 caseImg">
      <img src="../../../../mnist/5.jpg">
    </div>
  </div>
  <button type="button" class="btn" (click)="uploadPic()">Upload</button>
  <button type="button" class="btn" (click)="loadMorePic()">Load more</button>
</div>
