<div class="container">
  <div class="row col-sm-12">
    <div class="col-sm-4 caseImg">
      <img [src]='imagesList[0]'>
    </div>
    <div class="col-sm-4 caseImg">
      <img [src]='imagesList[1]'>
    </div>
    <div class="col-sm-4 caseImg">
      <img [src]='imagesList[2]'>
    </div>
    <div class="col-sm-4 caseImg">
      <img [src]='imagesList[3]'>
    </div>
    <div class="col-sm-4 caseImg">
      <img [src]='imagesList[4]'>
    </div>
    <div class="col-sm-4 caseImg">
      <img [src]='imagesList[5]'>
    </div>
  </div>
  <input type="file" class="btn" (change)="onFileSelected($event)">
  <button type="button" class="btn" (click)="onUpload()">Upload</button>
  <button type="button" class="btn" (click)="loadMorePic()">Load more</button>
</div>
